{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>{{ 'label.ticketing'|trans }}</h1>
        <h2>{{ 'label.museum'|trans }}</h2>
        <img src="{{ asset('img/img6.png') }}" alt="{{ 'label.museum'|trans }}" class="ml-auto mb-4"><br/>
        <a class="btn btn-lg btn-outline-primary mt-auto" href="{{ path('booking') }}">{{ 'label.booking'|trans }}</a>
    </div>
    <div class="container text-center">
        <h3>{{ 'label.prices'|trans }}</h3>

        <div class="container mt-4">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ 'label.normal.price'|trans }}</h4>
                    </div>
                    <img src="{{ asset('img/img1.png') }}" width="100%" height="200px" class="card-img-top" alt="{{ 'label.art'|trans }}">
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">{{ 'label.normal.price.day'|trans }}<br/></h5>
                        <h5><small class="text-muted">{{ 'label.normal.price.halfday'|trans }}</small></h5>
                        <hr/>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ 'label.normal.price.age'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ 'label.child.price'|trans }}</h4>
                    </div>
                    <img src="{{ asset('img/img2.png') }}" width="100%" height="200px" class="card-img-top" alt="{{ 'label.art'|trans }}">
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">{{ 'label.child.price.day'|trans }}<br/></h5>
                        <h5><small class="text-muted">{{ 'label.child.price.halfday'|trans }}</small></h5>
                        <hr/>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ 'label.child.price.age'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ 'label.junior.price'|trans }}</h4>
                    </div>
                    <img src="{{ asset('img/img3.png') }}" width="100%" height="200px" class="card-img-top" alt="{{ 'label.art'|trans }}">
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">{{ 'label.junior.price.day'|trans }}<br/></h5>
                        <h5><small class="text-muted">{{ 'label.junior.price.halfday'|trans }}</small></h5>
                        <hr/>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ 'label.junior.price.age'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ 'label.senior.price'|trans }}</h4>
                    </div>
                    <img src="{{ asset('img/img4.png') }}" width="100%" height="200px" class="card-img-top" alt="{{ 'label.art'|trans }}">
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">{{ 'label.senior.price.day'|trans }}<br/></h5>
                        <h5><small class="text-muted">{{ 'label.senior.price.halfday'|trans }}</small></h5>
                        <hr/>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ 'label.senior.price.age'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ 'label.reduce.price'|trans }}</h4>
                    </div>
                    <img src="{{ asset('img/img5.png') }}" width="100%" height="200px" class="card-img-top" alt="{{ 'label.art'|trans }}">
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">{{ 'label.reduce.price.day'|trans }}<br/></h5>
                        <h5><small class="text-muted">{{ 'label.reduce.price.halfday'|trans }}</small></h5>
                        <hr/>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ 'label.reduce.price.specif'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <p><small>{{ 'reduce.price.p'|trans }}</small></p>
        </div>


    </div>
{% endblock %}