{{ form_start(form) }}
{{form_errors(form)}}


{% for ticket in form.tickets %}
{{ form_widget(form) }}
{% endfor %}
<a href="{{ path('home') }}"><button type="submit" class="btn btn-lg btn-outline-danger mb-auto mt-5">{{ 'label.cancel.order'|trans }}</button></a>
<button type="submit" class="btn btn-lg btn-outline-success mb-auto mt-5">{{ 'label.order.summary'|trans }}</button>

{{ form_end(form) }}