{{ form_start(form) }}
{{form_errors(form)}}

<div class="row">
    <div class="col-md-3">{{ form_row(form.firstname) }}</div>
    <div class="col-md-3">{{ form_row(form.lastname) }}</div>
    <div class="col-md-4 ">{{ form_row(form.birthdate) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.country) }}</div>
    <div class="col-md-2">{{ form_row(form.price) }}</div>
    <div class="col-md-2"><input type="checkbox" class="form-check-input">Prix réduit</div>
</div>
{{ form_rest(form)}}
<a type="submit" class="btn btn-lg btn-outline-danger mb-auto mt-5" href="{{ path('home') }}"> X Annuler la commande</a>
<a type="submit" class="btn btn-lg btn-outline-primary mb-auto mt-5" href="{{ path('booking') }}">< Page précédente</a>
<a type="submit" class="btn btn-lg btn-outline-success mb-auto mt-5" href="{{ path('ticket') }}"> Payer ></a>

{{ form_end(form) }}