{{ form_start(form) }}
{{form_errors(form)}}
    <div class="row">
        <div class="col-md-2">{{ form_row(form.number_tickets) }}</div>
        <div class="col-md-3">{{ form_row(form.visit_type) }}</div>
        <div class="col-md-4 ">{{ form_row(form.visit_date) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.email) }}</div>
    </div>
{{ form_rest(form) }}
    <a href="{{ path('home') }}"><button type="submit" class="btn btn-lg btn-outline-danger mb-auto mt-5">{{ 'label.cancel.order'|trans }}</button></a>
    <button type="submit" class="btn btn-lg btn-outline-success mb-auto mt-5">{{ 'label.continue.order'|trans }}</button>

{{ form_end(form) }}