{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4 mb-3 ">
        <h1 class="text-center" style="font-weight: lighter;">Billetterie</h1>
        <div class="row mt-4">
            <div class="picture mr-2" style="margin-left: 20%;">
                <img src="{{ asset('img/wf1.png') }}" width="80px" alt="workflow_1">
                <h4 style="font-weight: lighter;">Réserver</h4>
            </div>
            <div class="arrow mr-2 mt-3">
                <img src="{{ asset('img/arrow.png') }}" width="40px" alt="workflow_1">
            </div>
            <div class="picture mr-2">
                <img src="{{ asset('img/wf2.png') }}" width="80px" alt="workflow_1">
            </div>
            <div class="arrow mr-2 mt-3">
                <img src="{{ asset('img/arrow.png') }}" width="40px" alt="workflow_1">
            </div>
            <div class="picture mr-2">
                <img src="{{ asset('img/wf3.png') }}" width="80px" alt="workflow_1">
            </div>
            <div class="arrow mr-2 mt-3">
                <img src="{{ asset('img/arrow.png') }}" width="40px" alt="workflow_1">
            </div>
            <div class="picture mr-2">
                <img src="{{ asset('img/wf4.png') }}" width="80px" alt="workflow_1">
            </div>
            <div class="arrow mr-2 mt-3">
                <img src="{{ asset('img/arrow.png') }}" width="40px" alt="workflow_1">
            </div>
            <div class="picture mr-2">
                <img src="{{ asset('img/wf5.png') }}" width="80px" alt="workflow_1">
            </div>
        </div>
        <div class="mt-4" style="margin-left: 15%;">
            {{ include('booking/_form.html.twig')}}
        </div>

    </div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
{% endblock %}