{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4 mb-3 ">
        <h1 class="ticketing-label text-center">{{ 'label.ticketing'|trans }}</h1>
        <div class="process row mt-4">
            <div class="workflow picture mr-2">
                <img src="{{ asset('img/wf1.png') }}" width="80px" alt="workflow_1">
                <h4>{{ 'label.booking'|trans }}</h4>
            </div>
            <div class="arrow mr-2 mt-3">
                <img src="{{ asset('img/arrow.png') }}" width="40px" alt="workflow_1">
            </div>
            <div class="picture mr-2">
                <img src="{{ asset('img/wf2.png') }}" width="80px" alt="workflow_1">
            </div>
            <div class="arrow mr-2 mt-3">
                <img src="{{ asset('img/arrow.png') }}" width="40px" alt="workflow_1">
            </div>
            <div class="picture mr-2">
                <img src="{{ asset('img/wf3.png') }}" width="80px" alt="workflow_1">
            </div>
            <div class="arrow mr-2 mt-3">
                <img src="{{ asset('img/arrow.png') }}" width="40px" alt="workflow_1">
            </div>
            <div class="picture mr-2">
                <img src="{{ asset('img/wf5.png') }}" width="80px" alt="workflow_1">
            </div>
        </div>
        <div class="reduce-price mt-4">
            {{ include('booking/_form.html.twig')}}
            <small>{{ 'reduce.price.p'|trans }}</small>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
{% endblock %}