<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'label.museum'|trans }}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('img/logo-homepage.png') }}" width="30" height="30" alt="{{ 'label.art'|trans }}" class="d-inline-block align-top">
            {{ 'label.museum'|trans }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'booking' %}active" style="color: #ffcc00;{% endif %}" href="{{ path('booking') }}">{{ 'label.booking'|trans }}</a>
                </li>
            </ul>
            <ul class="navbar-nav m1-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-center {% if app.request.locale == 'fr' %}activeLocale{% endif %}" href="{{ path('home',{"_locale": 'fr'}) }}" style="{% if app.request.locale == 'fr' %}color: #ffcc00{% endif %}">{{ 'french'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center {% if app.request.locale != 'fr' %}activeLocale{% endif %}" href="{{  path('home',{"_locale": 'en'}) }}" style="{% if app.request.locale != 'fr' %}color: #ffcc00{% endif %}">{{ 'english'|trans }}</a>
                </li>

            </ul>
        </div>
    </nav>
    {% block body %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="text-center alert alert-danger container{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    {% endblock %}
    <footer class="footer mt-5 py-3">
        <div class="container text-center">
            <span class="text-muted">{{ 'label.footer'|trans }}</span>
        </div>
    </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
